.main {
    display: flex;
    flex-direction: column; /* Расположение блоков по вертикали */
    align-items: center; /* Центрирование блоков по горизонтали */
    padding: 20px; /* Внутренние отступы */
    background-color: #e8e1f5; /* Цвет фона контейнера */
    flex: 1;
}

.task-text {
    display: flex;
    justify-content: center;
    margin-bottom: 35px;
    font-weight: 400; /* Обычный шрифт для текста */
    color: #666; /* Цвет текста */
}

.tasks-container {
    display: flex;
    flex-direction: column; /* Расположение блоков по вертикали */
    align-items: center;
    max-width: 70%;
}

